.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 80px;
    align-content: center;
    background-color: black;
    color: white;


}
.logo{
    margin-left: 60px;
}
.menu span{
    padding: 15px;
}
.menu{
    align-items: center;
    margin-top: 20px;
  
}
